<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwiftBuild</title>
    <th:block th:replace="fragments/bootstrap::bootstrap"></th:block>
</head>
<body>
<th:block th:replace="fragments/navBar::navbar"></th:block>

<div>
    <form th:action="@{/work/save}" method="post" th:object="${work}">
        <div class="mb-3">
            <label for="name" class="form-label"><b>Name of the work  -></b></label>
            <input type="text" th:field="*{name}" class="form-control" id="name"
                   placeholder="Enter name of the work here" autocomplete="off"
                   required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label"><b>Description of the work  -></b></label>
            <input type="text" th:field="*{description}" class="form-control" id="description"
                   placeholder="Enter description of the work here" autocomplete="off"
                   required>
        </div>
        <div class="mb-3">
            <label for="cost" class="form-label"><b>Сost of the work  -></b></label>
            <input type="text" th:field="*{cost}" class="form-control" id="cost"
                   placeholder="Enter cost of the work here" autocomplete="off"
                   required>
        </div>
        <button>Save a new job</button>
    </form>
</div>

<th:block th:replace="fragments/bootstrap::bootstrap-scripts"></th:block>
</body>
</html>